*, :before, :after {
  box-sizing: border-box;
}
.d-inline-block {
  display: inline-block;
}
.text-center {
  text-align: center;
}
.pointer{
  cursor:pointer;
}
.float-right{
  float: right;
}
.App-link {
  color: #61dafb;
}
.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
